.App {
  background-color: #f0f2f5;
  text-align: center;
  width: 100%;
  max-width: 1500px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

.register {

  grid-column: 1 / 4;
  min-height: 60vh;
}

.register form {
  display: inline-grid;
}

.register form button {
  display: inline-grid;
  width: 100%;
  background-color: #49a8f5;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 5px 6px -1px rgb(0 0 0 / 20%), 6px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 50px 50px;
  -moz-border-radius: 0px 0px 50px 50px;
  -webkit-border-radius: 0px 0px 50px 50px;
}

.register form button:hover,
.submit button:hover {
  background-color: #2468a0;
  transition: all 0.5s ease;

}

.register form button:active,
.submit button:active {
  box-shadow: 0px 0px 0px -1px rgb(0 0 0 / 20%), 0px 0px 0px -1px rgb(0 0 0 / 12%), 0px 0px 0px -1px rgb(0 0 0 / 20%);
  background-color: #2199fc;
  transition: all 0.3s ease;

}

.users {
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 10px;
  padding: 10px;
  border: #49a8f5 solid 2px;
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.users h4 {
  margin: 0;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-transform: uppercase;
  font-size: 90%;
}

.users li {
  color: #09ff15;
}

.users li div {
  color: #020202;
  text-transform: uppercase;
}

.users ul {
  padding: 0 21px;
  margin: 5px 0 0 0;
}

.header {
  background-color: #49a8f5;
  color: #fff;
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 130px);
}

.messages {
  display: block;
  background-color: rgb(255, 255, 255);
  border: #49a8f5 solid 2px;
  border-bottom-color: #fff;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-height: 50vh;
  max-height: 30vh;
  overflow-y: scroll;

}

.messages::-webkit-scrollbar {
  width: 12px;

}

.messages::-webkit-scrollbar-track {
  background: rgb(241, 243, 245);
  border-radius: 20px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: rgb(120, 199, 245);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
}

.submit textarea {
  border: #49a8f5 solid 2px;
  width: 100%;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit button {
  width: 50%;
  background-color: #49a8f5;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.2),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.submit button[disabled] {
  width: 50%;
  background-color: #7ca0bd;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.btn1 {
  border: none;
  border-right: solid 1px #e2e3e4;
  border-radius: 0px 0px 0px 50px;
  -moz-border-radius: 0px 0px 0px 50px;
  -webkit-border-radius: 0px 0px 0px 50px;
}

.btn2 {
  border: none;
  border-left: solid 1px #e2e3e4;
  border-radius: 0px 0px 50px 0px;
  -moz-border-radius: 0px 0px 50px 0px;
  -webkit-border-radius: 0px 0px 50px 0px;
}

.footer {
  text-align: center;
  background-color: #dcdee0;
  color: rgb(0, 0, 0);
  grid-column: 1/4;

}


@media screen and (max-width: 600px) {
  .App {
    text-align: center;
    width: 100%;
    max-width: 1500px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
  }

}